Repository marko-js/cli: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint -f visualstudio

chore: publish
  packages/test/CHANGELOG.md
  packages/test/package.json
Due: prettier --write

fix(docs): npm init command
  packages/create/README.md
Due: prettier --write

fix(docs): npm init command (#214)
  packages/create/README.md
Due: prettier --write

fix(test): make lasso a peerDependency
  packages/test/package.json
Due: prettier --write

Embetteren README
  packages/serve/README.md
Due: prettier --write

Embetteren README (#216)
  packages/serve/README.md
Due: prettier --write

fix: allow testing of template whose name matches its parent directory
  packages/test/src/util/loadTests.js
Due: prettier --write, eslint -f visualstudio

fix(build): avoid calling asset middleware in dev mode
  packages/build/src/files/server.js
Due: prettier --write, eslint -f visualstudio

chore: publish
  packages/build/CHANGELOG.md
  packages/build/package.json
  packages/serve/CHANGELOG.md
  packages/serve/package.json
Due: prettier --write

feat(build): add typescript support
  packages/build/package.json
  packages/build/src/index.js
  yarn.lock
Due: prettier --write, eslint -f visualstudio

feat(build): add typescript support (#225)
  packages/build/package.json
  packages/build/src/index.js
  yarn.lock
Due: prettier --write, eslint -f visualstudio

fix(build): remove unecessary default translator dep
  packages/build/package.json
Due: prettier --write

fix(build): bump marko compiler version
  packages/build/package.json
  packages/build/src/components/src-attributes-transformer.js
  yarn.lock
Due: prettier --write, eslint -f visualstudio

fix: encode example name and tag in github url
  packages/create/src/index.js
Due: prettier --write, eslint -f visualstudio

feat: support non-interactive use for CI and AI agents
  packages/create/README.md
  packages/create/src/cli.js
  packages/migrate/README.md
  packages/migrate/src/cli.js
Due: prettier --write, eslint -f visualstudio

ci: run on Node 18/20/22 and fix serve test navigation
  .github/workflows/ci.yml
  packages/serve/test/index.test.js
Due: prettier --write, eslint -f visualstudio

test(serve): use a unique port per test
  packages/serve/test/index.test.js
Due: prettier --write, eslint -f visualstudio

test(serve): query with $eval to avoid stale JSHandles
  packages/serve/test/index.test.js
Due: prettier --write, eslint -f visualstudio

test(serve): don't hang add-route on missing live-reload
  packages/serve/test/fixtures/add-route/test.js
Due: prettier --write, eslint -f visualstudio

fix: repair broken CI and browser test toolchain
  .github/workflows/ci.yml
  package-lock.json
  package.json
  packages/build/src/index.js
  packages/build/src/util.js
  packages/serve/package.json
  packages/serve/src/index.js
  packages/serve/test/fixtures/params-and-queries-deprecated/test.js
  packages/serve/test/fixtures/params-and-queries/test.js
  packages/serve/test/index.test.js
  yarn.lock
Due: prettier --write, eslint -f visualstudio

fix(ci): stop npm auto-installing bit-rotted chromedriver peer
  .npmrc
  package-lock.json
Due: prettier --write

fix(ci): keep Node 18 support and harden checkout
  .github/workflows/ci.yml
  package-lock.json
  package.json
Due: prettier --write

test(serve): regenerate snapshots and stabilize vendor chunk name
  packages/serve/test/fixtures/add-route/after-serve-expected.html
  packages/serve/test/fixtures/add-route/build-expected.html
  packages/serve/test/fixtures/add-route/serve-expected.html
  packages/serve/test/fixtures/custom-browserslist/build-expected.html
  packages/serve/test/fixtures/custom-browserslist/serve-expected.html
  packages/serve/test/fixtures/custom-browserslist/static-expected.html
  packages/serve/test/fixtures/custom-webpack-config/serve-expected.html
  packages/serve/test/fixtures/directory-index/build-expected.html
  packages/serve/test/fixtures/directory-index/serve-expected.html
  packages/serve/test/fixtures/image/build-expected.html
  packages/serve/test/fixtures/image/serve-expected.html
  packages/serve/test/fixtures/image/static-expected.html
  packages/serve/test/fixtures/params-and-queries-deprecated/serve-expected.html
  packages/serve/test/fixtures/params-and-queries-deprecated/static-expected.html
  packages/serve/test/fixtures/params-and-queries/serve-expected.html
  packages/serve/test/fixtures/params-and-queries/static-expected.html
  packages/serve/test/fixtures/root-path-folder/serve-expected.html
  packages/serve/test/fixtures/simple/serve-expected.html
  packages/serve/test/fixtures/update/after-serve-expected.html
  packages/serve/test/fixtures/update/serve-expected.html
  packages/serve/test/index.test.js
Due: prettier --write, eslint -f visualstudio

fix(serve): use live reload instead of HMR in the dev server
  packages/serve/src/index.js
Due: prettier --write, eslint -f visualstudio

ci: don't fail the build on coverage upload
  .github/workflows/ci.yml
Due: none

test(prettyprint): refresh escaped-backslash placeholder snapshot
  packages/prettyprint/test/fixtures/placeholders-string-double-backslash/pretty-concise-expected.marko
  packages/prettyprint/test/fixtures/placeholders-string-double-backslash/pretty-html-expected.marko
Due: none

chore: finish migrating from yarn to npm
  .github/workflows/ci.yml
  .gitignore
  .npmrc
  lerna.json
  package-lock.json
  package.json
Due: prettier --write

fix(create): don't fail scaffold on pnpm install exit code
  packages/create/src/cli.js
  packages/create/src/exec.js
  packages/create/src/index.js
Due: prettier --write, eslint -f visualstudio

docs: replace outdated hero image with the Marko logo
  README.md
Due: prettier --write

chore: allow esbuild build scripts to fix fresh-clone install
  pnpm-workspace.yaml
Due: none

fix(create): approve esbuild builds for pnpm scaffolds; package-manager-aware next steps
  .changeset/scaffold-pnpm-polish.md
  packages/create/src/cli.ts
  packages/create/src/create.ts
Due: prettier --write

fix(create): run install & git quietly behind the spinner; surface logs only on failure
  .changeset/quiet-scaffold-output.md
  packages/create/src/cli.ts
  packages/create/src/create.ts
  packages/create/src/exec.ts
  packages/create/src/git.ts
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{json,css,less,md}) or (any of: *.js)
  eslint -f visualstudio: any of: *.js
